/**
* sendIt : Andela Challenge
* Due Date: No. 2nd Nov. 2018
**/


html {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --navy: #1E294C;
  --theme-content-bg: #fff;
  --theme-bg: #E7EDF7;
  --theme-header: #15537D;
  --theme-nav: rgb(136, 207, 248);
  --theme-field-border: #0277bd;
}
*{
  background: inherit;
  color: inherit;
  font: inherit;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

* {
  font-family: Roboto, sans-serif;
  box-sizing:border-box;
  margin: 0;
}
/* customize scrollbar for webkit browsers */

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: #78909c ;
  cursor: pointer;
}
::-webkit-scrollbar-track:hover{
  background: #006064  ;
  cursor: pointer;
}
::-webkit-scrollbar-track:active{
  background: #263238 ;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: #80cbc4;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #00897b;
  cursor: pointer;
}


/* reset default  all browsers should look the same */

aside, details, figcaption, figure, footer, header,
main, menu, nav, section, p div {
  display: block;
}
p{
  margin: 5px auto;
}

[hidden] {
  display: none;
}
strong, b{
 text-emphasis: bolder;
 font-stretch: extra-expanded;
 font-weight: 800;
}
h1 {
	font-size: 96px;
	font-weight: 300;
	letter-spacing: -1.5px;
}
h2 {
  text-align:center;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: -0.5px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}
h3 {
	font-size: 48px;
	font-weight: 400;
	letter-spacing: 0;
}
h4 {
	font-size: 34px;
	font-weight: 400;
	letter-spacing: 0.25px;
}
h5 {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0;
}
h6 {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.15px;
}

a {
  text-decoration: none;
}
/* basic color code */

.white {
  background: #fff !important;
}
.white-text {
  color: #fff;
}
.green {
  background: #04c655;
  color: #000;
}
.green-text {
  color: #04c655;
}
.orange {
  background: #ffa20d;
  color: #000;
}
.orange-text {
  color: #ff9d00;
}
.blue {
  background: #0277bd !important;
  color: #fff;
}
.blue-text {
  color: #0277bd;
}
.navy{
  background: #15537D;
  color: #fff;
}
.red {
  background: #ef5350 ;
  color: #fff;
}
.red-text {
  color: #ef5350;
}


/* form stylings  */

.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* Animations */

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* header styling */
header {
  min-height: 60px;
  padding: 10px;
  box-shadow: 0 0 13px #ccc;
  display: flex;
  flex-direction: row;
}
header .logo {
  max-width: 110px;
  flex-grow: 2;
}
header .logo img {
  width: 100%;
}
header nav {
  flex-grow: 8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
}
header nav a{
  float: right;
  padding: 10px;
}
header nav a:hover {
  color: #ef5350;
}
header div{
  flex-grow: 1;
}
.screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../img/delivery1.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  text-align: center;
}
.screen h2, .screen h3, .screen a{
  font-size: 4rem;
  position: relative;
  top: 20%;
  background: transparent;
  color: #fff;
}
.screen h3{
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
}
.screen a {
  top: 25%;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  background: #ef5350;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.screen a:hover{
  background: #ea302d;
}